@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared stylex */
.display-flex {
  display: flex;
}
/* calor style */
.calor-orange {
  color: orange;
}
.calor-skyboue {
  color: skyblue;
}
.calor-pest {
  color: #05d4df;
}
.calor-last {
  color: #5d58ef;
}
.black {
  color: black;
}
.calormor3 {
  color: #8700ff;
}
.calormor1 {
  color: #64c8ff;
}
.black-btn {
  background-color: black;
  color: #ffffff;
  width: 197px;
  height: 50px;
  border: none;
  border-radius: 10px;
}
.btn-end {
  justify-content: center;
  margin: 0 auto;
}
.btn-main {
  background-color: #3cd8e8;
  color: white;
  width: 174px;
  height: 47px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  position: relative;
  top: -3rem;
}
.bat-main-2 {
  background-color: #95b226;
  color: white;
  width: 174px;
  height: 47px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  position: relative;
  top: -35px;
}
.btn-main-3 {
  background-color: #5d58f0;
  color: white;
  width: 174px;
  height: 47px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  position: relative;
  top: -35px;
}

/* navbar style */

.navbar {
  width: 1160px;
  height: 102px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}
.btn-1 {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 10px;
  width: 197px;
  height: 50px;
}
.btn-2 {
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  width: 197px;
  height: 50px;
}
.school {
  font-size: 32px;
  font-weight: bold;
}
.logo {
  height: 60px;
  margin-top: 15px;
}
.nav-link {
  font-weight: 500px;
}
/* banner stard */
.parent {
  width: 1158px;
  height: 575px;
  justify-content: center;
  margin: 0 auto;
}
.banner {
  width: 640px;
  height: 330px;
  margin-top: 77px;
}
.hading {
  font-size: 56px;
  font-weight: 700;
}
.pragraph {
  font-size: 20px;
  color: black;
}
/* banner end */
/* card start */
.stander-card-hading {
  text-align: center;
  margin: 90px;
  font-size: 46px;
  font-weight: 700;
}
.card-section {
  width: 1440px;
  height: 879px;
  justify-content: center;
  margin: 0 auto;
  background-image: url(../assets/bg.png);
}
.img-card {
  margin-top: 45px;
}
.imgdiv {
}

.card-1 {
  background: linear-gradient(to bottom, #def5ff 0%, #ffffff 100%);
  padding: 20px;
  box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.05);
  width: 310px;
  height: 476px;
  text-align: center;
  border-radius: 15px;
}
.card-2 {
  background: linear-gradient(to bottom, #fff4dc 0%, #ffffff 100%);
  padding: 20px;
  box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.05);
  width: 310px;
  height: 476px;
  text-align: center;
  border-radius: 15px;
}
.card-3 {
  background: linear-gradient(to bottom, #f2e8ff 0%, #ffffff 100%);
  padding: 20px;
  box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.05);
  width: 310px;
  height: 476px;
  text-align: center;
  border-radius: 15px;
}
.card-heding {
  font-size: 25px;
  font-weight: 700;
}
.card-pragraph {
  font-size: 15px;
  margin-bottom: 60px;
}
.read-more {
  font-size: 16px;
  font-weight: 700;
}
.card-main {
  width: 1158px;
  height: 575px;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}
.main-boal {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.boal {
  background-color: orange;
  color: white;
  width: 50px;
  height: 60px;
  border-radius: 50px;
}
.aro {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
/* story section */
.OS-hading {
  text-align: center;
  font-size: 46px;
  font-weight: 700;
}
.our-storis {
  background-image: url(../assets/bg.png);
  width: 1440px;
  height: 1016px;
  display: grid;
  justify-content: center;
  margin: 0 auto;
}
.story-bg {
  background: linear-gradient(to top, #dbb777 10%, #ffffff 100%);
  width: 100%;
}
.our-storis-main {
  width: 1156px;
  height: 575px;
  justify-content: center;
  align-items: center;
}
.mini-div {
  width: 290px;
  height: 301px;
  box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: #ffffff;
}
.first-story-1 {
  width: 540px;
  height: 630px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}
.second-stories {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 19px;
}
.fun-2bby {
  font-size: 24px;
  font-weight: 700;
}
.storise-1-2bby-pdang {
  padding: 26px;
}
.img-first-1 {
  border-radius: 10px 10px 0px 0px;
}
.div-last {
  padding: 10px;
}
.img-last {
  border-radius: 10px 10px 0px 0px;
}
.last-heding {
  font-size: 15px;
  font-weight: 700;
}
/* Ore Storis end */
/* footer-style */
.footer-style {
  background-color: #01acfd;
  width: 1440px;
  height: 485px;
  justify-content: center;
  margin: 0 auto;
}
.ftr-end-div {
  width: 1170px;
  height: 222px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.kids-div {
  width: 299px;
  height: 81px;
  padding-top: 250px;
}
.kids {
  color: white;
  font-size: 42px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.kids-pra {
  color: #ffffff;
  width: 399px;
  height: 100px;
  margin-top: 40px;
}
.li-tm {
  list-style: none;
  margin-top: 25px;
  color: #ffffff;
}
.li-school {
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  margin-top: 250px;
}
.keep {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
}
.keep-main {
  margin-top: 120px;
}
